/* reset */

*{
    box-sizing: border-box;
    margin: 0;
}
/* debug */

/* header-top debug */

.header-top.debug{
    background-color: #ADD8E6;
    height: 80px;
}
.row1.debug{
    background-color: #DAA520;
    height: 45px;
}

/* header-bottom debug */

.header-bottom.debug{
    background-color:#00008B ;
    height: 500px;
}
.hero.debug{
    background-color: #EE82EE;
    height: 400px;
}

/* common */

.container{
    max-width: 1200px;
    margin: auto;
}
.border{
    border: 2px dashed black;
}

/* header */

/* header-top */

.header-top{
    padding: 15px 0px;
}
.row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row1 div,nav{    
    padding: 10px;
}
.row1 div{
    width: 20%;
}
.row1 nav{
    width: 60%;
}

/* header bottom */

.header-bottom{
    padding: 50px 25%;
}



