/* reset */

*{
    box-sizing: border-box;
    margin: 0;
}
/* debug */

/* header-top debug */

.header-top.debug{
    background-color: #ADD8E6;
    height: 80px;
}
.row1.debug{
    background-color: #DAA520;
    height: 45px;
}

/* header-bottom debug */

.header-bottom.debug{
    background-color:#00008B ;
    height: 500px;
}
.hero.debug{
    background-color: #EE82EE;
    height: 400px;
}
/* debug sezioni */
.col-big.debug{
    height: 500px;
    background-color:#1E90FF ;
}
.col-small.debug{
    height: 500px;
    background-color: #FFC0CB;
}


/* sezione 1 debug */

.sezione1.debug{
    background-color: white;
    height: 600px;
}

/* sezione 2 debug */

.sezione2.debug{
    height: 600px;
    background-color:#D3D3D3 ;
}

/* sezione 3 debug */

.sezione3.debug{
    background-color: white;
    height: 600px;
}

/* common */

.container{
    max-width: 1200px;
    margin: auto;
}
.border{
    border: 2px dashed black;
}

/* header */

/* header-top */

.header-top{
    padding: 15px 0px;
}
.row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row1 div,nav{    
    padding: 10px;
}
.row1 div{
    width: 20%;
}
.row1 nav{
    width: 60%;
}

/* header bottom */

.header-bottom{
    padding: 50px 25%;
}

/* sezione 1 */

.col-big{
    width: 66.66%;
}
.col-small{
    width: 33.33%;
}
.row{
    display: flex;
    padding: 50px 0px;
}
